body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 160px;
  background-color: aquamarine;
}

#entire-container {
  display: flex;
  flex-direction: column;
}

#full-container {
  display: flex;
  flex-direction: column;
}

#calculator-container {
  display: flex;
  gap: 10px;
  border: solid;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.heading {
  text-align: center;
}

.display {
  text-align: end;
  padding: 20px 80px;
  border: solid;
}

.sub-container {
  border: solid;
  margin: 10px;
}

.top-bar,
.mid-bar,
.low-bar {
  display: flex;
  justify-content: space-between;
  width: auto;
  border: solid;
  gap: 20px;
}

.operator-bar {
  display: flex;
  flex-direction: column;
  width: 50px;
  gap: 10px;
}

.misc-bar {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  border: solid;
}

.clear,
.division,
.multiplication,
.subtraction,
.addition,
.equals {
  padding: 12px;
}

.number1,
.number2,
.number3,
.number4,
.number5,
.number6,
.number7,
.number8,
.number9,
.number0,
.dot {
  padding: 20px;
}

.number0 {
  padding-right: 50px;
  padding-left: 50px;
}

button {
  cursor: pointer;
}